- unless bundles.empty?
  %table.table
    %tr
      %th Пакет
      %th Версия 1С
      %th Версия конфигурации
      %th Название конфигурации
      %th Загрузка

    - bundles.each do |bundle|
      %tr
        %td
          = image_tag bundle.icon.thumb_24.url
          = link_to bundle.app do
            = bundle.name
            = "(#{bundle.version})"
        %td= bundle.supported_kernel_versions
        %td= 'version_conf' #bundle.versionconf
        %td= 'name_conf' #bundle.nameconf
        %td
          = link_to bundle.bundle_file.url do
            %span.icon-download-alt
            = number_to_human_size bundle.bundle_file.file_size
  =paginate bundles
- else 
  %h3 Не найдено ни одного пакета
