.page-header
  %h1 Ваш профиль
  
= simple_form_for @user do |f|
  = f.error_notification
  = f.input :email
  .actions
    = f.button :submit, :class => 'btn btn-primary', :value => t('simple_form.buttons.save')

%p= t('simple_form.labels.user.change_password')
= simple_form_for @user, :url => user_update_password_path do |f|
  = f.input :password
  = f.input :password_confirmation
  %label= t('simple_form.labels.user.current_password') 
  = password_field_tag :current_password
  .actions
    = f.button :submit, :class => 'btn btn-primary', :value => t('simple_form.buttons.change_password')
