= simple_nested_form_for [:developer, @app, @bundle] do |f|
  .row
    .span12
      = f.error_notification
      .alert
        = f.error :base
  .row
    .span6
      = f.input :version
      = f.input :source_file, :as => :file, :hint => "Расширение: #{@app.kind.ext}"
      = f.input :source_file_cache, :as => :hidden
    %fieldset
      = f.input :supported_kernel_versions, :as => :string
      %hr
      = f.fields_for :supported_configurations, :class => :sc do |sc|
        %div.supported_configurations.row
          .span4
            -#= sc.error :'supported_configurations.configuration_id'
            -#= sc.association :configuration, :label => '', :include_blank => false
            = sc.input :configuration_id, :required => true, :wrapper => :stack, :collection => configurations_collection_for_search, :include_blank => false, :input_html => { :class => 'input-block-level' }
          .span1
            = sc.input :versions, :as => :string, :input_html => { :class => 'input-mini' }
          .span1
            = sc.link_to_remove :class => 'btn btn-danger btn-small' do
              = icon 'minus-sign', :white
      = f.link_to_add :supported_configurations, :class => 'btn btn-success btn-small' do
        = icon :plus, :white
        Добавить конфигурацию
  .row
    .span12
      = f.input :changelog, :input_html => { :cols => 140, :rows => 10, :style => 'width: 100%' }
  .row
    .span12
      .actions
        = f.button :submit, :class => 'btn btn-primary'
