.page-header
  %h1= @app.name
  %small= @app.kind

%p.pull-right
  = developer_link @app.developer_profile
%p
  = simple_format @app.desc

%h3= "Активные версии"
= render 'bundles', :bundles => @app.bundles.active.reverse_order_by_version
