= form_for @bundle do |f|
  - if @bundle.errors.any?
    #error_explanation
      %h2= "#{pluralize(@bundle.errors.count, "error")} prohibited this bundle from being saved:"
      %ul
        - @bundle.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
