%table.table.table-condensed
  %thead
    %tr
      %th
      %th Приложение
      %th Статус
      %th Версии
      %th Активный билд
      %th Действия
  - @apps.each do |app|
    %tr
      %td.span1
        = link_to developer_app_path(app) do
          = image_tag app.icon.thumb_48.url, :class => 'img-rounded'
      %td
        = "##{app.id}"
        = link_to developer_app_path(app) do
          = app.name
        %br
        %small.muted= "#{app.kind.title} (.#{app.kind.ext})"
      %td
        =state_label app
      %td
        - app.bundles.each_with_index do |bundle, index|
          %span.muted<= index > 0 ? ', '.html_safe : ''
          = link_to bundle.version, developer_app_path(app, :anchor => "bundle_#{bundle.id}")
      %td
        = link_to "скачать", app.current_bundle.bundle_file.to_s if app.current_bundle.present?

      %td
        = upload_bundle_link app
        = edit_app_link app


