= render 'app_header', :subtitle => 'Редактируем приложение'
%p.pull-right
  = upload_bundle_link @app

- unless @app.bundles.active.empty?
  %h3= "Активные версии"
  = render 'bundles', :bundles => @app.bundles.active.reverse_order_by_version

- unless @app.bundles.destroyed.empty?
  %h3= "Неактивные версии"
  = render 'bundles', :bundles => @app.bundles.destroyed.reverse_order_by_version

