- bundle = app
- app = bundle.app
- db = BundleDecorator.new bundle
.media.app-block
  = link_to app, :class => 'pull-left' do
    = image_tag app.icon.thumb_64.url, :class => 'media-object', :size => '64x64'
  .media-body
    %h4.media-heading.app-name
      = link_to app, app_url(app, :anchor => "bundle_#{bundle.id}")
      %span.app-version= "(#{bundle.version})"
    .pull-left
      = developer_link app.developer_profile
    .pull-right
      .app-kind.muted
        %small
          %i= app.kind
    .clearfix
    .app-desc
      %small.muted
        = simple_format app.desc
    %div.app-download.pull-right
      = download_link bundle
    .app-supported-configurations
      Версии 1С:
      = db.support
