- bundle = app
- app = bundle.app
- db = BundleDecorator.new bundle

.app-block
  .row-fluid
    .span2
      = link_to app, :class => 'pull-left' do
        = image_tag app.icon.thumb_64.url, :class => 'media-object', :size => '64x64'
    .app-block-content.span10
      %h4.media-heading.app-name
        = link_to app, app_url(app, :anchor => "bundle_#{bundle.id}")
        %span.app-version= "(#{bundle.version})"
      = developer_link app.developer_profile
      .app-desc
        = simple_format app.desc
  .row-fluid
    .span8
      = db.support
      %span{ :class => "app-kind app-kind-#{app.kind.kind_type} label"}= app.kind
    .span4
      %span.pull-right= download_link bundle
  %hr.app-block-divider

