- bundle = app
- app = bundle.app
- db = BundleDecorator.new bundle

.app-block-container
  .app-block
    .row-fluid.app-block-content
      .span2
        = link_to app, :class => 'pull-left' do
          = image_tag app.icon.thumb_64.url, :class => 'media-object', :size => '64x64'
      .span10
        %h4.media-heading.app-name
          = link_to app, app_url(app, :anchor => "bundle_#{bundle.id}")
          %span.app-version= "(#{bundle.version})"
        = developer_link app.developer_profile
        .app-desc
          = simple_format app.desc
    .row-fluid.app-block-info
      .span8
        %span{ :class => "app-kind app-kind-#{app.kind.kind_type} label"}
          = link_to app.kind, apps_path(:kind_id => app.kind.id)
        %span{ :class => "app-support-button", :rel => "popover", 'data-content' => "#{db.support}", 'data-original-title' => 'Совместимость'}
          = fontello 'dot-3', 12, 'v-align-baseline'
      .span4
        %span.pull-right= download_link bundle

