.span6
  .media
    = link_to '#', :class => 'pull-left' do
      = image_tag app.icon.thumb_64.url, :class => 'media-object'
    .media-body
      %h4.media-heading= app.name
      %small.muted= "#{app.kind.title} (.#{app.kind.ext})"
      %small= link_to "скачать последний билд", app.active_bundle.bundle_file.to_s if app.active_bundle 
      = simple_format app.desc
