%table.table.table-condensed
  %thead
    %tr
      %th Версия
      %th Статус
      %th Совместимость с 1С
      %th Файл
      %th Изменения
      %th
    - bundles.each do |bundle|
      - db = BundleDecorator.new bundle
      %tr
        %td= bundle.version
        %td= db.state
        %td= db.support
        %td= download_link bundle
        %td= bundle.changelog
        %td
          - if bundle.updatable_by? current_user
            - if bundle.destroy?
              = link_to restore_developer_app_bundle_path(bundle.app, bundle), :class => 'btn btn-small btn-warning' do
                = icon 'remove-circle', :white
                Восстановить
            - else
              = destroy_bundle_link bundle
