= simple_form_for :session, :url => user_sessions_path, :method => :post do |f|
  = f.input :email
  = f.input :password
  %p
    = "Нет аккаунта?"  
    = link_to t('simple_form.hints.registration.new'), new_user_path, :class => 'new_registration'
  .actions
    = f.button :submit, :class => "btn btn-primary", :value => t('simple_form.buttons.login')
