= link_to Settings.app.title, root_url, :class => 'brand'

-# .nav-collapse
-# Там только разработчики, не вижу пока смысла их показывать
-# = render_navigation  :expand_all => true, :renderer => :bootstrap
.nav-collapse
  = render_navigation  :expand_all => true, :renderer => :bootstrap
  %ul.nav
    %li
      = link_to '#', :class => 'user-versions-link' do
        %span.version-support-kernel
          8.2
        %span.version-support-configs БухгалтерияПредприятия
        = fontello 'cog', 18

-# Характеристики пользовательской системы
  
= render_navigation  :expand_all => true, :renderer => :bootstrap, :context => :user
